/*=======================*/
/*   COLOR STYLE FILES   */
/*=======================*/

/* Colors */

:root {
    --first-color: #FFD414;
    --secoond-color: #F7931E;
    --white-color: #ffffff;
    --black-color: #000000;
    
}