/*======================*/
/*   FONT STYLE FILES   */
/*======================*/

/* Font Heading */
@font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    src: url('../fonts/coolvetica\ rg.otf') format('opentype');
}

/* Font Secondary */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}