/*======================*/
/*   FONT STYLE FILES   */
/*======================*/

/* Font Heading */
@font-face {
    font-family: 'Font Heading';
    font-style: normal;
    src: url('../fonts/moon_get-Heavy.ttf') format('truetype');
}

/* Font Secondary */
@font-face {
    font-family: 'Font Secondary';
    font-style: normal;
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}